.nome{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 60px; 
}



.category{
    grid-template-columns: repeat(2, auto);
    color: rgb(0, 0, 0);
    text-align: center;
}
.buttonp{
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-shadow: none;
    height: 40px;
    width: 110px;
}

.experiencia{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 60px; 
}
.cabeçario{
    color:rgb(0, 0, 0);
    text-align: center;
}
.img{
    border-radius: 30px; 
}


.ajustes{
    text-align: center;
    margin-top: 30px;
}

.buttonc{
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    text-shadow: none;
    height:35px;
    width: 70px;
}